@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


/* Definindo cores usadas */
* {
    --cor-de-fundo: #F3F3F3;
    --cor-bordas: #FFFFFF;
}

input:focus {
    outline: 0;
}

/* ------------ Definindo atibuiçoes gerais -------------- */
body{
    background-color: var(--cor-de-fundo);
    font-family: 'Roboto', sans-serif;
}


/* ------------ Tela de entrada do usuário -------------- */
.Tela-Entrada{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.entrada{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.loading{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.Tela-Entrada img{
    margin: 40px 0;
    width: 230px;
}

.loading img{
    margin-top: 0;
    width: 100px;
}

.Tela-Entrada input{
    font-size: 18px;
    padding: 16px 20px;
    display: flex;
    text-align: center;
    margin-bottom: 15px;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
}

.Tela-Entrada button{
    font-size: 18px;
    color: #696969;
    background-color: #E7E7E7;
    border: none;
    padding: 12px 25px;
    border-radius: 9px;
}

/* ----------- Barra do topo da página --------------- */
header{
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-bordas);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

header img{
    margin: 22px;
}


/* ----------- Mensagens do chat --------------- */
main{
    margin: 106px 0;
}

main div{
    height: auto;
    display: flex;
    align-items: center;
    border-radius: 2px;
    width: 100vw;
    margin: 4px 0;
    padding: 5px;
}
main p{
    width: 75%;
    word-wrap: break-word;
    margin: 5px;
}
 /* ------------ Hora da mensagem -------------- */
span{
    color: #AAAAAA;
    padding: 8px ;
}

/* ------------ Cores de fundo de cada mensagem -------------- */
.status{
    background-color: #DCDCDC;
}

.message{
    background-color: #FFFFFF;
}

.private_message{
    background-color: #FFDEDE;
}

/* ------------ Nomes em negrito -------------- */
strong{
    font-weight: 700;
}


/* ------------ Barra inferior com envio de mensagens-------------- */
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 80px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-bordas);
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

footer input{
    font-size: 16px;
    height: 30px;
    margin: 0 0 3px 17px;
    padding: 5px;
    border: none;
    width: 100%;
    height: 50%;
}

footer button{
    margin: 18px;
    background-color: transparent;
    border: none;
}

footer p{
    margin-left: 22px;
    font-weight: 300;
    color: grey;
}



/* ------------ Fundo do Menu com cor escurecida -------------- */
.voltar{
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 1;
}

/* ------------ Menu de opções -------------- */
nav{
    width: 256px;
    height: 100vh;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: auto;
}

nav h3{
    font-size: 16px;
    font-weight: 700;
    padding: 30px;
}

.visibilidade div,
.Pessoas .todos,
.PessoasOnline div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px 5px 3px 10px;
    height: 30px;
}

.visibilidade{
    margin-bottom: 50px;
}

.visibilidade div div:hover,
.Pessoas .todos div:hover,
.PessoasOnline div div:hover{
    cursor: pointer;
}

.Pessoas .todos{
    margin: 3px 18px;
}

.visibilidade div img,
.Pessoas .todos img,
.PessoasOnline div img{
    margin: 0 5px;
}




/* ------------ Classe para esconder algumas partes da página -------------- */
.escondido{
    display: none;
}

.ease-in{
    transition: 2s;
}

.check{
    display: none;
}

.selecionado{
    display: block;
}